/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}
.my_bg-black{
    background-color: black;
}
.my_logo > img{
    width: 50px;
    height: 50px;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
.dropdown{
    list-style-type: none;
}
.fa-search{
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.my_bg-orange{
    background-color: #cd3d0f;
}
.jumbo-content{
    padding-top: 250px;
}
.banner-item{
    border-radius: 13px;
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
    padding: 3px;
}
.banner-item:hover{
    border-color: #107ad1;
}
.banner-item img{
    width: 100%;
    border-radius: 13px;
}
.top-title{
    color: #0072ce;
    text-transform: uppercase;
}
.undertext{
    color: #757575;
}
.my_bg-blue{
    background-color: #2d64e6;
} 

.ps5-item{
    opacity: .7;
    height: 100%;
    border-bottom: 2px solid transparent;
    transition:all 0.1s ease-in;
}
.my_border-blu{
    opacity: 1;
    border-bottom: 2px solid #2d64e6;
}
.ps5-item:hover{
    opacity: 1;
    border-bottom: 2px solid #2d64e6;
}
.ps5-item p{
    margin-bottom: 0;
}
.ps5-item img{
    width: 100%;
    margin-bottom: 10px;
}
.my_bg-settings-jumbo{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-inside-banner{
    width: 60%;
}
.my_text-blue{
    color: #2d64e6;
}
.my_bg-light-grey{
    background-color: #d9dadc;
}
#headline > img{
    width: 80px;
}
#jumbo{
    background-image: 
    url(../img/jumbo-bg.png);
}

#ps5 img{
    width: 100%;
 }
 #secondary-jumbo{
    background-image: 
    url(../img/it-takes-two-hero-banner-desktop.jpg);
 }

 #secondary-jumbo .jumbo-content{
    padding-top: 50px;
}
#new-releases{
    background-color: #1f1f1f;
    padding-bottom: 60px;
}
#new-releases img{
    width: 100%;
    border-radius: 20px;
}
#ps4{
    padding-top: 60px;
}
#ps4 img{
    width: 100%;
}
#ps-plus{
    background-color: #bebcbb;
}
#discount img{
    width: 100%;
}
@media only screen and (max-width:767px){
    .my_nomargin-important{
        margin-left: 0 !important;
        margin-right:0 !important;
    }
    .ps-plus-item{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}