/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}
.my_bg-black{
    background-color: black;
}
.my_logo > img{
    width: 50px;
    height: 50px;
}
.nav-item:hover .dropdown-menu{
    display: block;
}
.dropdown{
    list-style-type: none;
}
.fa-search{
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.my_bg-orange{
    background-color: #cd3d0f;
}
.jumbo-content{
    padding-top: 250px;
}
.banner-item{
    border-radius: 13px;
    border: 2px solid transparent;
    transition: all 0.1s ease-in;
    padding: 3px;
}
.banner-item:hover{
    border-color: #107ad1;
}
.banner-item img{
    width: 100%;
    border-radius: 13px;
}
#headline > img{
    width: 80px;
}
#jumbo{
    background-image: 
    url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#jumbo img{
   width: 60%;
}